.header-and-text-body{
    display: flex;
    flex-direction: column;
}
h1{
    color: hsl(0, 0%, 100%);
}
p{
    color:hsl(217, 12%, 63%);
}
.star-icon{
    background-color:hsl(216, 12%, 8%);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding: 15px;
    margin-bottom: 20px;
}